@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box; /* When you set the width/height of an element, the element often appears bigger than you have set (because the element's border and padding are added to the element's specified width/height).*/
    margin:0;      /* The box-sizing property solves this problem.*/
    padding:0;
}

html,body{
    font-family: 'Roboto', sans-serif;
     /* overflow-x: hidden;*/   /* x yonüne scroll yok*/ /*sticky nin' anasını sikiyor diye comment altına aldım*/
    background-color: black;
    /* color:red; */
    line-height:1.5; /* yazı uzunluğu */
    scroll-behavior: smooth; /*yaz bak*/

}

a{
 color:white;
 text-decoration: none;  /* no underline*/

}

a:hover{
    color:white;
}

ul{
    list-style-type: none; /* ol ve ul deki o 1. yada noktları kaldırıyor*/
}

img{
width: 100%;
}

.cembut{
    display: inline-block;
    background-color:rgb(26, 11, 92);
    color:rgb(0, 174, 255);
    min-width: 135px;
    padding: 22px 28px;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 4px 4px 1px #0d3640;
}


.cembut2{
    display: inline-block;
    background-color:#0f495c;
    color:lime;
    min-width: 135px;
    padding: 21px 28px;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 5px 2px 4px 2px #05716c;
}
.cembut2:hover{
    opacity: 0.7;
}
.cembut:hover{
    opacity: 0.9;
    text-decoration: underline;
}

.cemdetails{
    font-weight: bold;
    cursor:pointer;
    background:none;
    border:none;
    color:white;
}

.cemdetails:hover{
    text-decoration: underline;
}
.cemlegal{
    font-size: 9px;
    color:grey;
    margin-top: 20px;
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;                       
}

.ilkh4{
 color:blue;
 font-size: 15px;
 text-transform: uppercase;
 margin-top: -80px;
 position: relative; /*relative olmadan z index çalışmaz*/
 z-index: 2; /*gri shadowun önüne geçsin diye*/

}

h3{
    font-size: 26px;
    font-weight: 300;
}
.sech4{
    font-size: 20px;
}
.Terms{
    background-color: none;
    display: block;
    color:gray;
    font-size: 12px;
    margin-top: 5px;
    text-decoration: underline;

}

.header{
    height:460px;
    background: url(../images/bubu.jpg)
    no-repeat center center / cover;
}

.header nav{
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    position: relative; /*relative olmadan z index çalışmaz*/
    z-index: 2; /*gri shadowun önüne geçsin diye*/
}


.header nav .loginn{
    cursor:pointer;
    background:none;
    border:none;
    color:rgb(74, 204, 22);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header .cembaba{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:30px;
}

.header .cemo{
width: 250px;
margin: 5px;
margin-right:35px;
margin-left:35px;
}

.header .cemtext1{
 color:lawngreen;
 font-size: 25px;
 font-weight: bold;
 margin-top: -10px;
}
.header .cemtext2{
 color:lightcyan;
 font-size: 20px;
 margin-top: -5px;
}
.header .cemtext3{
 color:mediumspringgreen;
 font-size: 20px;
 margin-top: -5px;
}
.subcem {
    display:grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 40px;
    align-items: center;
    padding: 30px 40px;
    background: linear-gradient(318.68deg,#0f495c 0%,#0d3640 49.72%,#08141f 100%);
  
}

.subcem > div:last-of-type{      /*(>div) top level div, last of type: very last div in subcem*/
     justify-self: end;
     align-self: end;
}

.subcem > div:last-of-type .Terms{
    text-align: center;
}

.subfoto1{

    max-width: 350px;
    max-height: 105px;
}


.cemcattext{
    color:mintcream;
    font-size: 70px;
    font-weight: bold;
}

.cemcattext2{
    color:mintcream;
    max-width: 850px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

h5{
    color:lime;
}

.cemkatagori{
    display:flex;  /*for easly align*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 80px 30px;
}
.cemkatagori .kaplama{
    display:grid;
    grid-template-columns: repeat(4,1fr); /*repeat for 4 times 1fr*/
    margin-top: 30px;
    gap: 20px;
}


.cemkatagori .kaplama > div {
    height: 600px;
    width: 400px;
    position: relative;
}

.cemkatagori .kaplama-grad{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);

}

.cemkatagori .kaplamalar1{
    background: url(/images/efkarcem.jpg) no-repeat center center / cover;
}

.cemkatagori .kaplamalar2{
    background: url(/images/chadcem.png) no-repeat center center / cover;
}
.cemkatagori .kaplamalar3{
    background: url(/images/cemlol.jpg) no-repeat center center / cover;
}
.cemkatagori .kaplamalar4{
    background: url(/images/sj.jpg) no-repeat center center / cover;
}

.cemkatagori .kaplama-title{
    color:gold;
}

.cemkatagori .kaplama-text{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
}

.header::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 90px;
    z-index: 1;
    background: linear-gradient(
    180deg,
    rgba(41, 33, 33, 0.76) 15.54%,
    rgba(61, 56, 56, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}


.footer{
    background: rgb(221, 218, 218);
    color:black;

}
.footer a {
    color:black;
}
.footer-konteynir{
    max-width: 1700px;
    margin:auto;
    padding: 40px;
}

.footer-liste{
    display: flex;
    justify-content: space-between;
}

.footer-liste .list-head{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.divider{
    width: 100%;
    height: 3px;
    border-top: 1px grey solid;
    margin:30px 0; 
} 

.sosyal-ikonlar img{
    width: 25px;
    height: 25px;
    margin-right:25px;
}

.model{
  display:none;    /* javadan manipüle edecez*/
  position: fixed;
  top:0; /*bunu top lefte koymak isityoz*/
  left:0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /*tranparency 0.5*/
}

.model-box{
    margin: 10% auto; /*10%: (top and bottom)   auto: (left and right)*/
    width: 450px;
    background: white;
    color:black;
    position: relative; /*close button position will be positioned absolute*/
    animation: modelopen 1s;   /*animasyon için hazırlık*/
}
 
@keyframes modelopen{   /*animasyon ekledik (modelopen custom bir isim)*/
    from{
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.model-body{
    padding:50px;
}

.model-body h3{
    font-weight: bold;
}

.karabuton{
    display: inline-block;
    background: black;
    color:white;
    text-transform: uppercase;
    min-width: 135px;
    padding: 21px 28px;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.model-body .karabuton{
    width: 100%;
    margin-top: 30px;
}
.model .close{
    cursor: pointer;
    height: 23px;
    width: 23px;
    position:absolute;
    top: 20px;
    right: 20px;
}
.model .model-footer{
    background:lavender;
    color:black;
    padding:20px 0;
    border-top: #eee 1px solid;
    text-align: center;
}

.model .model-footer a{
    color:blue;
}

.form-control{
    margin: 20px 0;
}

.form-control label{
    display: block;
    text-transform: uppercase;
}

.form-control input{
    width: 100%;
    border: 2px black solid;
    border-radius: 5px;  /*border keskinlik*/
    height: 50px; /*kutu uzunluğu*/
    padding: 5px; /* kutu içi ayrımı*/
}

.model .forgot{
    color:blue;
}

.model .forgot:hover{
    text-decoration: underline;
    color:black;
    opacity: 0.7;
}
.model .sign:hover{
    text-decoration: underline;
}


/*SUBPAGE cembaba.html*/

.header .cb{
    font-size: 20px;
    font-weight: bold;
    margin-top:-20px;
    color:darkgoldenrod
}
/*section subcem*/
.subcem{
    color:red
}

/*CemBaba Details*/
.cemdetailsopen{
    display:none; 
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    height: 100%;
    width: 100%;
    background: rgb(0 ,0 ,0 , 0.5);
}
.cemdetbox{
    margin: 10% auto;
    width: 1000px;
    animation: modelopen2 1s;
}

@keyframes modelopen2{   
    from{
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.cemtick{
    width: 20px;
    margin-right:10px;
}

.cemyazı{
    font-family: 'STIX Two Text', serif;
    margin-top:30px;
    font-size: large;
    color:white;
    margin-left:20px;
    
}
.minibaslik{
    margin-left:25px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 25px;
    color:white;
}

.cemdetbox{
    /* background:linear-gradient(365.68deg,#1fbfb8 ,#05716c  ,#1978a5 ,#031163  ); */
    background:url(/images/arkaplan9.PNG) center center/cover;
    /* background: linear-gradient(365.68deg,#0f495c 25%,#0d3640 49.72%,#08141f 100%); */
}

.cemyazı2{
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    color:white;
    margin-top:30px;
    margin-left:20px;
}
.cemdetailsopen .close2{
    cursor: pointer;
    height: 30px;
    width: 30px;
    position:absolute;
    margin-left:950px;
    margin-top:-490px;
}


/*cembaba live tv*/
.cemlive{
    background: #151516;
    padding: 40px;
}

.yesilborder{
    border:4px solid #1ce783;
    border-radius:16px;
    padding:100px;
    display:flex; /*so we can aling*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cemlive a{
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: underline;
}

.cemlive h4{
    color:lime;
    padding: 20px;
    margin-bottom:25px;
}
.cemlivetext-xl{
    font-size: 55px;
    margin-bottom: 35px;
    color:limegreen
}
.cembabalivelegaltext{
    font-size: 12px;
    color:grey;
    margin-top: 10px;
}

.cembabalibesubtext{
    font-size: 25px;
    margin-bottom: 25px;
    color:cadetblue;
}

/* animated arrow */




.arrowdown {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  
  
  /* .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } */

 

/* .arrowdown{
    animation:arrowdown,2s,linear,0s,infinite,normal; 
    
     animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal;  
}  */

  /* @keyframes arrowdown {
    from {top: 0px;}
    to {top: 200px;}
 }  */


 
 
 
 /*Live Sport*/


 
 .cemlivesec2{
     background:url(/images/arkaplan51.jpg) no-repeat center center / cover;
     height:800px;
     position:relative; /*to position content inside absolute*/
 }

 .livesporticindekiler{
     position: absolute;
     top:160px;
     left:100px;
     color:white;
 }
 .livesportlogos{
     width: 500px;
     margin-top:100px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .livesportlogos img{
     width: 40px;
 }

 .livesportlogos > div{
     background:url(/images/bosdaire.png) no-repeat center center / cover;
     height: 60px;
     width: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left:50px;
 }

 .livesporttext1{
    
    font-weight: bold;
    position:absolute;
    margin-top:-80px;
    padding:20px;
    font-size: 80px;
    top:-60px;
    right:100px;
    margin-right:250px;
    
}
.livesporttext2{
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    position:absolute;
    top:-20px;
    right:-50px;
    margin-left:20px;
    margin-top:30px;
}
.livelegal{
    
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    position:relative;
    top:-100px;
    right:100px;
    margin-top:190px;
    margin-left:110px;
}

.livetext3{
    font-weight: bold;   
    font-family: 'Source Code Pro', monospace;
    position:absolute;
    top:350px;
    right:50px;
    margin-right:320px;
    margin-top:30px;
}

.yanfoto{
    position:absolute;
    width: 550px;
    margin-left: 1300px;
    top: -100px;
    left: -150px;
}

/*news section*/

.cemnewsfull{
    display:none;
}

.newslogo > div{
    background:url(/images/bosdaire.png) no-repeat center center / cover;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
}

.newslogo img{
    width: 35px;
}

.cemliveplace3{
    background:url(/images/arkaplan50.jpg) no-repeat center center / cover;
}

.newslogo{
    width: 500px;
     margin-top:100px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}



.newstext1{
    
    font-weight: bold;
    /* position:relative; */
    /* margin-top:-80px; */
    padding:20px;
    font-size: 80px;
   
}
.newstext2{
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    /* position:relative; */
    top:-20px;
    right:-50px;
    margin-left:20px;
    margin-top:30px;
}
.newlegal{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    position:relative;
    top:-100px;
    right:100px;
    margin-top:190px;
    margin-left:120px;
}

.cemxd{
    position:absolute;
    width: 390px;
    margin-left: 1400px;
    top: 2300px;
    left: -50px;
}

/*events section*/

.cemeventsfull{
    display:none;
}

.cemliveplace4{
    background: url(/images/arkaplan5.png) no-repeat center center / cover;
}

.cemliveplace4{
    color:white;
}

.eventlogos > div{
    background:url(/images/bosdaire.png) no-repeat center center / cover;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
}
.eventlogos img{
    width:30px;
}

.eventlogos{
    width: 500px;
     margin-top:100px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.eventtext1{
    font-weight: bold;
    /* position:relative; */
    /* margin-top:-80px; */
    padding:20px;
    font-size: 70px;
}
.eventtext2{
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    /* position:relative; */
    top:-20px;
    right:-50px;
    margin-left:20px;
    margin-top:30px;
}
.eventlegal{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    position:relative;
    top:-100px;
    right:100px;
    margin-top:190px;
    margin-left:120px;
}
.cemyas40{
    position:absolute;
    width: 390px;
    margin-left: 1400px;
    top: 2300px;
    left: -50px;
}




/*buttonlar*/


.cemlivenews{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:930px;
    z-index: 2;
    color:deepskyblue;
}
.cemlivenews:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}

.cemlivenews2{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:850px;
    z-index: 2;
    color:deepskyblue;
}

.cemlivenews2:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}

.cemlivenews3{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:850px;
    z-index: 2;
    color:deepskyblue;
}

.cemlivenews3:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}


.cemlivesport{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:770px;
    z-index: 2;
    color:deepskyblue;
}
.cemlivesport:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}

.cemlivesport2{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:690px;
    z-index: 2;
    color:deepskyblue;
}

.cemlivesport2:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}

.cemlivesport3{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:690px;
    z-index: 2;
    color:deepskyblue;
}

.cemlivesport3:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}





.cemliveevents{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:1050px;
    z-index: 2;
    color:deepskyblue;
}
.cemliveevents:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}

.cemliveevents2{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:980px;
    z-index: 2;
    color:deepskyblue;
}
.cemliveevents2:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}


.cemliveevents3{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border:none;
    background-color:rgba(0, 0, 0, 0.0);
    position:absolute;
    margin-top:50px;
    margin-left:980px;
    z-index: 2;
    color:deepskyblue;
}
.cemliveevents3:hover{
    text-decoration: underline;
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 550ms ease-out;
}


/* CustomScrollBar */

::-webkit-scrollbar{
    width:17px; 
}

::-webkit-scrollbar-track{ 
    /*background of scrollbar*/
    border: 3px solid #0f495c;  /*scrollbar border px,style,color*/
    background-color: #082032;  /*background of range of scrollbar*/
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(6, 222, 225), rgb(121, 255, 108)); /*the draggable scrolling handle.*/
}


::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::-webkit-scrollbar-button:single-button{ /*buttonbackground of scrollbar*/
    background-color: #082032;
    display: block;
    /* border-style: solid; */
    /* height: 13px;
    width: 16px; */
    background-size:10px;
    background-repeat: no-repeat;
}

/*UP BUTTONS*/
::-webkit-scrollbar-button:single-button:vertical:decrement{  /*üçgenin normal hali*/
  border-width: 5px 5px 0px 0px;
  /* border-color: transparent transparent #06b5f0 transparent; */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='50,00 0,50 100,50'/></svg>");
  background-position: center 4px;
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover{  /*Hover yapınca üçgen mavi olsun*/
    /* border-color: transparent transparent lime transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active{  /*Üçgene basınca gri olsun olsun*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");

}



/*DOWN BUTTONS*/
::-webkit-scrollbar-button:single-button:vertical:increment {  /*üçgenin normal hali*/
    border-width: 0px 0px 5px 5px;
    /* border-color: #06b8f3 transparent transparent transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,0 100,0 50,50'/></svg>");
    background-position: center 4px;
    height: 16px;
    width: 16px;
  }
  
::-webkit-scrollbar-button:vertical:single-button:increment:hover { /*Hover yapınca üçgen mavi olsun*/
    /* border-color: lime transparent transparent transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,0 100,0 50,50'/></svg>");
  }

::-webkit-scrollbar-button:single-button:vertical:increment:active{ /*Üçgene basınca gri olsun olsun*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}




 

  /* ::-webkit-scrollbar the scrollbar.
::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb the draggable scrolling handle.
::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements. */





/*CemBaba Bundle Selection*/

.cembababundlTitle{
    background-color: white;
}

.stickytitle{
    background-color: white;
    position: sticky;
    top: 0;
}

.PlanContainer{
    padding:0px 140px 0px 120px; /*top right bottom left*/
    background-color: white;
}

.cembababundlTitle .titleh3{
    font-weight: bold;
    display: inline-block;
}
.nohiddenfees{
    font-family: 'Shadows Into Light', cursive;
}
.switchplans{
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
}

.MPop{
    font-family: 'Kaisei Decol', serif;
    color:white;
    position:absolute;
    margin-left:27px;
    font-weight: bold;
}
.MpopDıs{
    margin-left:255px;
    margin-bottom: -15px;
    width: 150px;
    height: 25px;
    border-radius:50px;
    background-color:lightslategray;
    Color:White;
    display:inline-block;
}

.divtitleandMpop{
    background-color: white;
}

.yancembaba{
    font-size:35px;
    margin-left:170px;
    display:inline-block;
}


.yancembaba2{
    font-size:35px;
    margin-left:190px;
    display:inline-block;
    position: absolute;
}

.yancembaba3{
    font-size:35px;
    margin-left:550px;
    display:inline-block;
    position: absolute;
}


.Day30Trail1{
    display: inline-block;
    margin-left:400px;
}

.Day30Trail2{
    display: inline-block;
    margin-left:270px;
    position: absolute;
}

.Day30Trail3{
    display: inline-block;
    margin-left:620px;
    position: absolute;
}



.tryfor0{
    background-color: black;
    color: white;
    border-radius: 7px;
    border:none;
    cursor: pointer;
    padding: 10px 65px;
    margin-left:610px;
    display: inline-block;
}
.tryfor0yazı{
    font-size:23px;
    align-items: center;
}

.tryfor0:hover{
    opacity: 0.7;
}

.tryfor02{
    background-color: black;
    color: white;
    border-radius: 7px;
    border:none;
    cursor: pointer;
    padding: 10px 65px;
    margin-left:170px;
    display: inline-block;
    position: absolute;
}
.tryfor0yazı2{
    font-size:23px;
    align-items: center;
}

.tryfor02:hover{
    opacity: 0.7;
}

.tryfor03{
    background-color: black;
    color: white;
    border-radius: 7px;
    border:none;
    cursor: pointer;
    padding: 10px 65px;
    margin-left:515px;
    display: inline-block;
    position: absolute;
}
.tryfor0yazı3{
    font-size:23px;
    align-items: center;
}

.tryfor03:hover{
    opacity: 0.7;
}




/*pricedivder*/
.bundledivider{
    width: 100%;
    height: 3px;
    border-top: 1px grey solid;
    margin:30px 0; 
}



/*price*/
  
.priceplace{
    background-color: white;
    color:black;
    
}

.price1{
    display:inline-block;
    margin-left:540px;
    font-weight: bold;
}

.price2{
    display:inline-block;
    margin-left:340px;
    font-weight: bold;
}

.price3{
    display:inline-block;
    margin-left:280px;
    font-weight: bold;
}



.planyazı2place{
    background-color: white;
    color:black;
}

.planyazı2{
    display:inline-block;
}

.tick1{
    width: 30px;
    display:inline-block;
    margin-left: 270px;
}
 .tick2{
    width: 30px;
    display:inline-block;
    margin-left: 385px;
}
 .tick3{
    width: 30px;
    display:inline-block;
    margin-left: 330px;
    
}  

.tick4{
    width: 30px;
    display:inline-block;
    margin-left: 420px;
}

.tick5{
    width: 30px;
    display:inline-block;
    margin-left: 390px;
}

.tick6{
    width: 30px;
    display:inline-block;
    margin-left: 330px;
}

.tick7{
    width: 30px;
    display:inline-block;
    margin-left: 410px;
}

.tick8{
    width: 30px;
    display:inline-block;
    margin-left: 390px;
}

.tick9{
    width: 30px;
    display:inline-block;
    margin-left: 330px;
}

.tick10{
    width: 30px;
    display:inline-block;
    margin-left: 380px;
}

.tick11{
    width: 30px;
    display:inline-block;
    margin-left: 390px;
}

.tick12{
    width: 30px;
    display:inline-block;
    margin-left: 330px;
}

.tick13{
    width: 30px;
    display:inline-block;
    margin-left: 517px;
}

.tick14{
    width: 30px;
    display:inline-block;
    margin-left: 390px;
}

.tick15{
    width: 30px;
    display:inline-block;
    margin-left: 330px;
}

.tick16{
    width: 30px;
    display:inline-block;
    margin-left: 560px;
}

.tick17{
    width: 30px;
    display:inline-block;
    margin-left: 390px;
}

.tick18{
    width: 30px;
    display:inline-block;
    margin-left: 330px;
}

.tick19{
    width: 30px;
    display:inline-block;
    margin-left: 350px;
}

.tick20{
    width: 30px;
    display:inline-block;
    margin-left: 390px;
}

.tick21{
    width: 30px;
    display:inline-block;
    margin-left: 330px;
}


.boşplan{
    background-color: white;
    color:white;
}





/*Copy pasted the dark mode button that i did in fucking sike.html cuz i am lazy*/

.cembababundledarkmode{
    background-color: white;
    color: Black;
}


.cembababundledarkmode .darkMode{
    background-color: black;
    color: white;
}

.checkbox{
    top:10px;
    right:840px;
    display:inline-block; /*dışdan basılıyordu inline yaptım*/
    width: 100px;
    height: 40px;
    background-color:rgb(11, 12, 12);
    color:white;
    border-radius: 40px;
    position: relative;
    cursor:pointer;
    transition: 1000ms background-color;
}

.checkbox .spann{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgb(229, 233, 236);
    position:absolute;
    top:5px;
    left:5px;
    transition: 500ms left, 1000ms background-color;
}

.checkbox .spann .textspann{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:transparent;
    color:black;
    position:absolute;
    top:4px;
    left:2px;
    transition: 500ms left, 1000ms background-color;
}

.darklabel input:checked +.checkbox{
     background-color:rgb(248, 244, 244);
}

.darklabel input:checked + .checkbox .spann{
    left:65px;
    background-color:rgb(7, 7, 7);
}

.darklabel input:checked + .checkbox .spann .textspann{
    background-color:transparent;
    color:white;
}

label input{
    display:none;
}




/* ctrl+ö başka bir comment atma şekli*/